<h1>Transactions</h1>

<ul>
  <% @transactions.each do |transaction| %>
    <li>
      <%= transaction.title %>
      <%= transaction.body %><br>
      <%= transaction.id %><br>
    </li>
  <% end %>
</ul>